<div class="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a href="https://zuri.team" target="_blank"><img src="/images/zuri.png" alt="zuri-training"></a>
      <a href="https://hng.tech" target="_blank"><img src="/images/hng.png" alt="hng-training"></a>
      <a href="https://ingressive.org" target="_blank"><img src="/images/I4G.png" alt="zuri-training"></a>
    </nav>
  
  </div>