<meta charset="UTF-8">
<title>Dipo's Resume</title>

<!-- CSS  -->
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="shortcut icon" href="favicon.ico">