<h1>Welcome to my resume page</h1>
<div id="contact-section">
    <h4>Contact me!</h4>
    <form id="contact" method="post">
        <p><label for="name">Name</label>
        <input type="text" name="name" placeholder="Name"></p>
        <p><label for="email">Email</label>
        <input type="email" name="email" placeholder="Email I can respond to"></p>
        <p><label for="phone">Phone (optional)</label>
        <input type="tel" name="phone" placeholder="Phone number I can call"></p>
        <p><label for="message">Message</label>
        <textarea name="message" id="message" cols="30" rows="10"></textarea></p>
        <p><input type="submit" value="Reach out via email"></p>
        <p><button id="whatsapp">Send a Whatsapp message instead</button></p>
    </form>
</div>