<div>
    <h1>Oladipupo <u>Durojaiye</u>'s Resume <img src="/images/person-bounding-box.svg" alt="resume"></h1>
</div>
<hr class="rounded">
<div>
    <div><img src="/images/geo-fill.svg" alt="geo-fill"> Lagos, Nigeria       <img src="/images/phone.svg" alt="phone"> 07088161687</div>

    <div><img src="/images/envelope-open-fill.svg" alt="mail"> <a href="mailto:durojaiyep@yahoo.co.uk">durojaiyep@yahoo.co.uk</a></div>

    <div><img src="/images/linkedin.svg" alt="linkedin"> <a href="https://linkedin.com/in/dipo-jaiye">linkedin.com/in/dipo-jaiye</a> <img src="/images/box-arrow-up-right.svg" alt="external-link" width=10 height=10></div>

    <div><img src="/images/github.svg" alt="github"> <a href="https://github.com/dipo-jaiye">github.com/dipo-jaiye</a> <img src="/images/box-arrow-up-right.svg" alt="external-link" width=10 height=10></div>

    <div><img src="/images/twitter.svg" alt="twitter"> <a href="https://twitter.com/dipo_jaiye">twitter.com/dipo_jaiye</a> <img src="/images/box-arrow-up-right.svg" alt="external-link" width=10 height=10></div>
</div>
<hr class="rounded">
<div>
    <h4>Summary</h4>
    <p>Oladipupo Durojaiye (aka Dipo) is a thoughtful and goal-oriented individual conversant with building backend web services.His background is in Electrical & Electronics Engineering which fueled his interest in wireless communications andsoftware automation processes. He has an inclination for ensuring fluid work processes, and he demonstrates thatthrough working with server-side technologies for software development.</p>
    <p>He is interested in Backend Engineering, Cloud Computing and Mixed Reality Engineering roles.</p>
</div>
<hr class="rounded">
<div>
    <h4>Experience</h4>
    <div>
        <h5>NodeJS Back End Developer Intern</h5>
        <h5><a href="https://zuri.team" target="_blank"><img src="/images/zuri.png" alt="zuri-training" width=40 height=40></a> Zuri Team</h5>
        <p>Mar 2021 - Jul 2021 (5 months)</p>
        <ul>
            <li>Led the project team and the backend sub-team in accomplishing the team project <a href="https://github.com/zuri-training/medlocator-be-pjt-28/blob/Develop/README.md">MedLocator</a></li>
            <li>Developed project requirements and selected tech architecture for team project <a href="https://zurimed.netlify.app/">MedLocator</a></li>
            <li>Outline the framework and implemented the models for the <a href="https://medlocator-pjt-28.herokuapp.com/">backend API</a> of the MedLocator team project</li>
            <li>Performed integrations of the frontend and backend apps for the MedLocator project</li>
        </ul>
    </div>
    <div>
        <h5>PHP Back End Developer Intern</h5>
        <h5><a href="https://internship.sidehustle.ng/" target="_blank"><img src="/images/sidehustle.jpg" alt="sidehustle-training" width=40 height=40></a> Side Hustle</h5>
        <p>Feb 2021 - Apr 2021 (3 months)</p>
        <ul>
            <li>Worked on a recharge card generator for a telecoms company using PHP</li>
            <li>Implemented state monitoring of an online registration form using cookies and sessions with PHP</li>
            <li>Developed a <a href="http://immense-lowlands.000webhostapp.com/">profile management system</a> with database storage using PHP and MySQL</li>
        </ul>
    </div>
</div>
<hr class="rounded">
<div>
    <h4>Education</h4>
    <div>
        <h5>University of Lagos</h5>
        <p>Bachelor of Science - BS, Electrical/Electonic Engineering</p>
        <p>2014 - 2021</p>
    </div>
</div>
<hr class="rounded">
<div>
    <h4>Skills</h4>
    <li>Node.js</li>
    <li>Express</li>
    <li>MongoDB</li>
    <li>MySQL</li>
    <li>C#</li>
    <li>Git</li>
    <h5>Other skills</h5>
    <li>Python</li>
    <li>PHP</li>
    <li>Flask</li>
</div>
<hr class="rounded">
<div id="contact-section" class="form-group">
    <h4>Contact me!</h4>
    <form id="contact" method="post" action="/contact">
        <p><label for="name">Name</label>
        <input type="text" name="name" placeholder="Name" class="form-control" required></p>
        <p><label for="email">Email</label>
        <input type="email" name="email" placeholder="Email I can respond to" class="form-control" required></p>
        <p><label for="phone">Phone (optional)</label>
        <input type="tel" name="phone" placeholder="Phone number I can call" class="form-control"></p>
        <p><label for="message">Message</label>
        <textarea name="message" id="message" cols="20" rows="10" class="form-control" placeholder="Enter your message and then send via email or whatsapp"></textarea></p>
        <p><input type="submit" value="Reach out via email" class="btn btn-primary"></p>
        <p><button id="whatsapp" class="btn btn-primary" style="border-color: green; background-color: aliceblue; color: black;"><img src="/images/whatsapp.svg" alt="whatsapp"> Send a Whatsapp message instead  <img src="/images/box-arrow-up-right.svg" alt="external-link" width=10 height=10></button></p>
    </form>
</div>